html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.status-bar-safe-area {
    display: none;
}

@supports (padding-top: env(safe-area-inset-top)) {
    .status-bar-safe-area {
        display: block;
        padding-top: env(safe-area-inset-top);
        background-color: #f9f9f9;
    }
}
