<div class="view-selection-bar" AutomationId="ViewSelectionBar" data-testid="view-selection-bar">
    <BbButton>Home</BbButton>
    <BbButton>Decks</BbButton>
    <BbButton>New Deck</BbButton>
    <BbButton>Stats</BbButton>
    <BbButton>Settings</BbButton>
</div>

@code {
}
